@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  color:#000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.tel {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color:#000000;
  text-transform: uppercase;
  text-decoration: none;
}

.button{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  padding: 9px 15px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

/*Главная страница*/
.sedona {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.sedona .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sedona .subtitle {
  color: #333333;
}

.reason-with-image {

  background-color: #82B3D3;
  color: #ffffff;
}

.reason-title-with-image {
  text-transform: uppercase;
}

.reason-title,
.advantages .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages {
  font-size: 18px;
  line-height: 21px;
}

.advantages .housing {
  background-image: url("../images/housing.svg") ;
  background-repeat: no-repeat;
  background-color: #83B3D31F;
}

.advantages .food {
  background-image: url("../images/food.svg") ;
  background-repeat: no-repeat;
}

.souvenirs {
  background-image: url("../images/souvenirs.svg") ;
  background-repeat: no-repeat;
  background-color: #83B3D31F;
}

.interested h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interested p {
  color: #333333;
}

.nmbr3,
.nmbr5 {
  background-color: #83B3D31F;
}

.nbmr3 {
  background-color: #83B3D333;
}

.search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

/*Каталог*/
.filter {
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  background-color: #000000;
}

.sedona-hotels {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.housing,
.price {
  font-size: 18px;
  line-height: 21px;
}

.blue {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.subscribe .blue {
  width: 200px;
  height: 60px;
  padding: 12px 15px;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.subscribe input {
  width: 600px;
  height: 60px;
  background: #F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;

}

.green {
  background-color: #7DB54F;
}

.subscribe-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.rating{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.rating p {
  background-color: #F2F2F2;
}

.pagination-link {
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
}
